// Colors
$text-color: rgb(252, 244, 236);
$secondary-text-color: rgb(209, 202, 194);
$tertiary-text-color: rgb(89, 80, 75);
$btn-text-color: rgb(14, 9, 7);
$highlight-color: rgb(255, 153, 34);
$bg-color: rgb(249, 233, 229);
$green-lighter: rgb(51, 85, 51);
$green-darker: rgb(32, 56, 38);

// Font Families
$font-family-primary: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
$font-family-secondary: "Montserrat", system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

// Font Sizes
$font-size-lg: 64px;
$font-size-md: 18px;
$font-size-sm: 16px;

// Font Weights
$font-weight-reg: 400;
$font-weight-md: 500;
$font-weight-bd: 700;
